.box {
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  font-weight: bold;
}
.card {
  background-color: rgb(216, 216, 216);
}
