.box {
  display: flex;
  text-transform: capitalize;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: rgb(28, 28, 28);
  font-weight: bold;
}
.card {
  background-color: rgb(216, 216, 216);
}
